/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Segoe UI", sans-serif;
}
.Greetings{
  font-weight: 300;
  font-style: oblique;
  text-decoration: underline;
}
.greeting-box{
  height: 50px;
  text-align: left;
  padding-left: 30px;
  background-color: #00A5D2;
}
.product-list{
  font-weight: 400;
  padding-left: 50px;
}
.product-name{
  font-weight: 500;
}
.product-container{
  margin-bottom: 100px;
  display: flex;
  left:10%;
  right:10%;
}
.row{
  box-sizing: border-box;
}
.product-image{
  margin-left: 30px;
  margin-right: 30px;
}
.rating{
  margin-left: 10px;
  font-weight: 500;
  font-style: italic;
}
.product-price{
  margin-left: 10px;
  margin-right: 50px;
  font-weight: 500;
  font-style: oblique;
}

